flask==3.0.0
gunicorn==21.2.0
demucs==4.0.1
librosa==0.10.1
numpy==1.24.3
soundfile==0.12.1
torch==2.1.2 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cpu
werkzeug==3.0.1
pathlib==1.0.1
python-dotenv==1.0.0
requests==2.31.0
scipy==1.11.4